body {
    color: darkslategrey;
}

ul {
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    font-family: cursive;
}

button {
    /* font-size: inherit; */
    font-weight: inherit;
    font-style: inherit;
    font-display: inherit;
    font-family: inherit;
}