/* #html{
    background-color: brown;
}

#html{
    background-color: pink;
}

.html{ 
    background-color:burlywood
}

li {
    background-color:burlywood;
    color: chocolate
}


li{
    background-color:blueviolet
}


li {
    background-color: aqua; 
    color:green
}

.html{ 
    background-color:darkslateblue
} */