li.html {
    background-color: aquamarine !important; 
    color:green
}


li {
    background-color: aqua !important; 
    color:green
}


li {
    background-color: burlywood !important; 
    color:green
}


#html{
    background-color: brown;
}

#html{
    background-color: pink;
}

.html{ 
    background-color: cornflowerblue
}

li {
    background-color: coral;
    color: chocolate
}


li{
    background-color:blueviolet
}


.html{ 
    background-color:darkslateblue
}